<!DOCTYPE html>
<html lang="en">


<head><meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta  name="viewport" content=""width=device-width, initial-scale="1">

  <!-- Name of the app -->
  <title>SNAP-SWAP</title>


</head>

<div class="header">
  <h1>SNAP-SWAP</h1>
</div>

<body>

  <main id="camera">
  <canvas id="camera--sensor"></canvas>
  <canvas id="camera--view" autoplay playsinline></canvas>
  <img src="//:0" alt="" id="camera--output">

  <!--Camera button to take picture -->
<button id="camera--trigger"> Take picture</button>

  </main>
  <!--js file including the functions -->
 <script src="cameraFunction.js"></script>
</body>

</html>
